.firstSection {
    background-image: url('./appear.jpg');/* image*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}

.landingContainer
{
    padding-top: 3rem;
}
.welcomeContent
{
    color:#1891C8;
    font-size: 3rem;
    text-align: center;
    padding-top: 15rem;
    font-weight: 500;
}
